# No need for DATABASE_URL to be set if developing from within a devcontainer
SECRET_KEY=lkasjdf09ajsdkfljalsiorj12n3490re9485309irefvn,u90818734902139489230
DATABASE_URL=sqlite:///dev.db
SCHEMA=mini_makers
S3_BUCKET=mini-makers
S3_KEY=AKIATLTD3ZK2PCS73L5P
S3_SECRET=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
