.on-submit-errors {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}

button {
  cursor: pointer;
}



.pin-card {
  margin: 7px
}

.pin-image {
  width: 100%;
  object-fit: cover;
  border-radius: 21px;
}

.single-pin-wrapper {
  cursor: pointer;
}



.pin-owner-icon {
  object-fit: cover;
  border-radius: 25px;
}


.pin-owner-icon-container {
  display: flex;
  align-items: center;
}

.pin-owner-icon-container span {
  margin-left: 5px
}


.masonry-container,
.profile-masonry {
  margin: 125px 70px 0 70px;

}



.pin-image-title {
  font-size: 13px;
  font-weight: 550
}







.single-pin-wrapper button {
  position: absolute;
  border: none;
  margin-right: 0px;
  background-color: transparent;
  display: none;
  align-items: center;
  justify-content: center;
  color: white;
  cursor: pointer;
  z-index: 1;
}

.single-pin-wrapper  span {
  color: white;
}

#pin-owner-name {
  color: black;
  font-size: 13px;
  font-weight:200
}


.single-pin-wrapper.hovered button {
  display: flex;
}



.single-pin-wrapper.hovered .pin-card > img {
  /* opacity: .7; */
  /* filter: brightness(0.5); */
}



.button-span * {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 7px;
  margin-left: 7px;
}
