.on-submit-errors {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}

button {
  cursor: pointer;
}



.pin {
  margin: 7px
}

.pin-image {
  width: 100%;
  object-fit: cover;
  border-radius: 21px;
}

.single-pin-wrapper {
  cursor: pointer;
}


.pin-owner-icon {
  object-fit: cover;
  border-radius: 25px;
}
