.profile-dropdown {
  position: absolute;
}

.hidden {
  display: none;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.home-create-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
