.splash-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  height: 30vh;
  margin-top: 125px;
}

.splash {
  text-align: center;
  margin-bottom: 230px;
}

.splash-title {
  font-size: 3rem;
  color: #333;
  margin: 60px;
}

.splash-sub-title {
  font-size: 3rem;
  margin: 0;
  margin-top: -20px;
  background: linear-gradient(45deg, rgb(255, 0, 0), rgb(249, 224, 0));
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-size: 45px;
}

.splash-images {
  width: 100%;
}

.splash-images img {
  object-fit: cover;
}

.splash-image {
  width: 100%;
  max-width: 300px;
  border-radius: 10px;
  margin-top: auto;

}


.fade-effect {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 350px;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.8) 100%);
  pointer-events: none;
}

.splash-images-container {
  margin: -100px
}

